:root {
 --maincolor: #143855;
 --altcolor: #2d76b1;
 --padding-top: 10px;
 --padding-bottom: 50px;
}
/* global rules */
html {
    scroll-behavior: smooth;
  }
* {
 box-sizing: border-box;
 text-decoration: none;
 margin: 0;
 padding: 0;
 list-style: none;
 color: white;
 scrollbar-color: var(--maincolor);
 scrollbar-track-color: #143855;

}
::-webkit-scrollbar{
    width: 15px;
   
}
::-webkit-scrollbar-track{
    background-color:#2d76b1
}
::-webkit-scrollbar-thumb{
background-color: #143855; border-radius: 5px;

}
body {
 font-family: "Cairo", sans-serif;
 background-color: rgb(3, 1, 24);
}

.aboutme {
    margin: auto;
    width: 80%;
    line-height: 2;
    margin-bottom: 5rem;
   }
   
   @media (max-width: 767px) {
    .aboutme {
     font-size: 0.6rem;
    }
   }
   .img{max-width: 100%;}